* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: white;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f0f2f5;
  color: #333;
  display: flex;
  flex-direction: column;
}

.header {
  height: 56px;
  background: #1e88e5;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 12px;
  font-weight: 600;
  position: sticky; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;

}

.logo {
  margin: 0;
}

main.container {
  flex: 1; 
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow-y: auto; 
}

.form-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.form-section h2 {
  margin-bottom: 16px;
  font-size: 18px;
}

.product-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 16px;
}

.product-form input,
.product-form select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.save-btn {
  grid-column: span 2;
  padding: 10px;
  border-radius: 8px;
  background: #1e88e5;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-top: 8px;
}

.save-btn:hover {
  background: #156fc0;
}

.products-section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.card {
  background: #fafafa;
  border-radius: 10px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.image-container {
  height: 150px;
  background: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 8px;
}

.card h3 {
  font-size: 15px;
  margin: 6px 0;
}

.details p {
  font-size: 13px;
  margin: 3px 0;
}

.price {
  margin-top: auto;
  font-weight: bold;
  margin-bottom: 8px;
}

.actions {
  display: flex;
  gap: 8px;
}

.actions button {
  flex: 1;
  padding: 7px;
  border-radius: 7px;
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.edit {
  background: #4CAF50; 
  color: white;
}

.delete {
  background: #e53935;
  color: white;
}

.error-save {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

/* Адаптивка */
@media (max-width: 640px) {
  .header {
    padding: 12px 16px;
    font-size: 14px; 
    flex-direction: column; 
    align-items: flex-start;
  }

  .logo {
    font-size: 16px; 
    word-break: break-word; 
  }

  .product-form {
    grid-template-columns: 1fr;
  }

  .save-btn {
    grid-column: span 1;
  }
}

